body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4F4F4F;
}

.post {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


label {
    font-weight: 500;
}


input[type="text"],
textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background: white;
    transition: border 0.2s ease;
}

/* Submit-Button */
input[type="submit"] {
    width: 130px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

/* Hover-Effekt */
input[type="submit"]:hover {
    background-color: #555;
}